/*
* Template: Bangladesh 2.0
* Author: Milon
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared styles */
body {
    background-color: #F1F1F3;
}

body,
p,
h1,
h2,
h3,
h4,
h6,
a,
button {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

a,
button {
    cursor: pointer;
}

h2 {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}

h5 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.btn-outline {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border-radius: 8px;
    border: 1px solid #006A50;
}

.btn-outline:hover {
    color: #fff;
    background-color: #006A50;
}

.bg-blue {
    background-color: rgba(84, 144, 245, 0.20);
}

.bg-green {
    background-color: #C6E4D6;
}

.bg-yellow {
    background-color: #F7EBCF;
}

.subheading {
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.text-center {
    text-align: center;
}

/* Header */
.header {
    margin-bottom: 80px;
}

/* Top Header */
.header-top {
    padding: 24px 0;
}

.logo {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

/* Hero Secton */
section.hero {
    padding: 80px;
    border-radius: 24px;
    background: #C6E4D6;
    gap: 32px;
}

.hero-left h4 {
    color: rgba(14, 14, 14, 0.50);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero-left h1 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero-left button {
    padding: 17px 34px;
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #006A50;
}

.hero-left button:hover {
    background: transparent;
    color: #006A50;
    border: 1px solid #006A50;
}

.hero-right img {
    width: 475px;
}

/*Pillars of "Bangladesh*/
.pillars-of-bangladesh {
    margin-bottom: 80px;
}

.pillars.card-section {
    gap: 24px;
}

.pillars .card-item {
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
}

.pillars .card-item img {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}

.pillars .card-item p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*The Vision of Future*/
.vision {
    margin-bottom: 80px;
}

.vision p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.vision-cards {
    gap: 24px;
}

.vision-cards .card-item {
    min-height: 350px;
    padding: 32px;
    border-radius: 16px;
}

.vision-cards .card-item img {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}

.vision-cards .card-item button {
    padding: 11px 20px;
    border-radius: 8px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid;
}

.vision-cards .bg-blue button {
    background-color: #5490F5;
    border-color: #5490F5;
}

.vision-cards .bg-blue button:hover {
    background-color: transparent;
    color: #5490F5;
}

.vision-cards .bg-green button {
    background-color: #09A15C;
    border-color: #09A15C;
}

.vision-cards .bg-green button:hover {
    background-color: transparent;
    color: #09A15C;
}

.vision-cards .bg-yellow button {
    background-color: #FFC239;
    border-color: #FFC239;
}

.vision-cards .bg-yellow button:hover {
    background-color: transparent;
    color: #FFC239;
}

/*quotation*/
.quotation {
    margin-bottom: 80px;
}

.quote-item {
    padding: 48px 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #FFF;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 2% 14%;
}

.quote-message {
    color: rgba(14, 14, 14, 0.80);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
}

.quote-author {
    margin-bottom: 2px;
}

.author-position {
    color: rgba(14, 14, 14, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*Your Opinion Matters*/
.opinion {
    margin-bottom: 80px;
}

.questions-table {
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
}

.questions-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(14, 14, 14, 0.15);

}

.questions-table table thead th {
    padding: 24px;
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 600;
    background: #C6E4D6;
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.questions-table table tbody td {
    padding: 24px;
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.10);
}

.questions-table table tbody td select {
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid #0E0E0E;
    background: #C6E4D6;
    color: #0E0E0E;
    font-size: 16px;
    font-weight: 500;
}

/*Recent News*/
.recent-news {
    margin-bottom: 80px;
}

.news-item {
    padding: 48px;
    gap: 32px;
    border-radius: 24px;
    background: #FFF;
    margin-bottom: 24px;
}

.news-item:nth-child(even) .news-content {
    order: 1;
}

.news-item:nth-child(even) .news-thumbnail {
    order: 2;
}

.news-item .news-thumbnail {
    border-radius: 24px;
    max-width: 410px;
    height: 310px;
    overflow: hidden;
    object-fit: cover;
}

.news-item .news-thumbnail img {
    max-width: 100%;
}

.news-content h3 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 32px;
    font-weight: 700;
}

.news-content .news-publisher {
    margin-bottom: 12px;
}

.news-content p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}

.news-content button {
    padding: 13px 26px;
    border-radius: 8px;
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
}

.news-content button:hover {
    color: #006A50;
    background-color: transparent;
}

/*Donation*/
.donation {
    margin-bottom: 80px;
}

.donation-form .select-amount {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.donation-form form label {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #fff;
    color: rgba(14, 14, 14, 0.80);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}

.donation-form form label:hover {
    background: #C6E4D6;
}

.donation-form input[type="radio"] {
    display: none;
}

.donation-form input[type="radio"]:checked+label {
    background-color: #C6E4D6;
    color: white;
    border-color: #C6E4D6;
}

.donation-form input[type="text"] {
    width: 880px;
    padding: 20px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    color: rgba(14, 14, 14, 0.30);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.donation-form input[type="submit"] {
    padding: 17px 34px;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.10);
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.donation-form input[type="submit"]:hover {
    background: transparent;
    color: #006A50;
    border-color: #006A50;
}

/*Subscribe Newsletter*/
.newsletter {
    margin-bottom: 80px;
}

.newsletter .container {
    padding: 80px;
    border-radius: 24px;
}

.newsletter-form {
    width: 625px;
    margin: 0 auto;
}

.newsletter-form form {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-form input#email {
    width: 400px;
    padding: 18px 40px;
    border-radius: 8px 0px 0px 8px;
    background: #FFF;
    border: none;
    color: rgba(14, 14, 14, 0.30);
    font-size: 16px;
    font-weight: 400;
}

.newsletter-form input[type="submit"] {
    padding: 15px 34px;
    border-radius: 0px 8px 8px 0px;
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
}

.newsletter-form input[type="submit"]:hover {
    background: transparent;
    color: #006A50;
}

/*Footer*/

.footer {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.footer-logo a {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.footer-logo {
    margin-bottom: 30px
}

.footer .social-icons a {
    margin: 10px;
}